html, div, span,
h1, h3, h4, h5, h6, p, blockquote,
strong, ol, ul, li, form, label, table,
caption, tbody, tfoot, thead, tr, th, td, article,
footer, menu, section {
  padding: 0;
  border: 3px;
  font-size: 100%;
  vertical-align: baseline;
}

body {
  background-color: #f2e9e4;
}

strike, strong, sub, sup, tt, var, b, u, i,
center, dl, dt, dd, ol, ul, li, fieldset, form, label,
legend, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, figure, figcaption,
footer, hgroup, menu, nav, output, ruby, summary,
time {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 130%;
  font-family: 'parisplus-clair', sans-serif;
  font-weight: 400;
  font-style: normal;
  vertical-align: baseline;
}

article, footer, header, menu, section {
  display: block;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

#header {
  width: 100%;
  text-align: center;
  font-family: 'liebegerda', sans-serif;
  font-weight: 400;
  font-size: 100px;
  color: white;
  background-image: url("bg.jpg");
  opacity: 0.7;
  padding-bottom: 50px;
}

.navbar-nav > li {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  font-size: 20px;
  font-family: 'rift-soft', sans-serif;
  font-weight: 400;
  font-style: normal;
  z-index: 2;
}

nav {
  height: 50px;
}

.content {
  margin-top: 80px;
  margin-left: 260px;
  margin-right: 260px;
  margin-bottom: 80px;
  display: flex;
  justify-content: space-around;
}

#main {
  width: 898.933px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.75);
  display: flex;
}

.major {
  padding-bottom: 20px;
}

.about {
  width: 25%;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  object-fit: cover;
  text-align: center;
}

.about_me {
  padding-top: 40px;
  padding-bottom: 20px;
  margin-bottom: 80px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.75);
}

#about_pic {
  height: 250px;
  width: 250px;
  margin-left: 38.7px;
  margin-right: 38.7px;
  object-fit: cover;
  border-radius: 50%;
}

#me_text {
  padding-top: 50px;
}

.highlights {
  padding-top: 60px;
  padding-bottom: 40px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.75);
}

.post.featured {
  text-align: center;
  padding-bottom: 120px;
  padding-top: 50px;
}

.date {
  color: solid black 0.5;
}

.h2 {
  padding-bottom: 20px;
  padding-top: 40px;
  margin-bottom: 20px;
  font-size: 30px;
  font-family: "Source Sans Pro", Helvetica, sans-serif;
  font-weight: bold;
}

.h2 > a {
  color: #665340;
}

.h2:after {
    content: ""; /* This is necessary for the pseudo element to work. */
    display: block; /* This will put the pseudo element on its own line. */
    margin: 0 auto; /* This will center the border. */
    width: 50%; /* Change this to whatever width you want. */
    padding-top: 20px; /* This creates some space between the element and the border. */
    border-bottom: 1px solid black; /* This creates the border. Replace black with whatever color you want. */
}

#h2 {
   line-height: 1.0;
   padding-bottom: 5px;
}

.headers_all {
   font-size: 25px;
   color: #665340;
   font-family: "Source Sans Pro", Helvetica, sans-serif;
   font-weight: bold;
}

.headers_all:hover {
  color: #665340;
}

#first_p {
  font-size: 30px;
}

p, span {
  font-size: 18px;
}

.posts-container {
  text-align: left;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  padding-bottom: 30px;
}

.one, .two {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  transform:scale(0.9);
}

.image_main {
  display: flex;
  object-fit: contain;
  justify-content: center;
}

#img1, #img2 {
  display: flex;
  object-fit: cover;
  width: 400px;
  height: 270px;
}

.article_text {
  display: flex;
  flex-direction: column;
  padding-left: 30px;
}

.art1, .art2 {
  margin: 1px;
}

.container {
  display: flex;
  justify-content: center;
}

.icons {
  display: flex;
  justify-content: space-between;
}



/* Button */

	input[type="submit"],
	input[type="reset"],
	input[type="button"],
	button,
	.button {
		-moz-appearance: none;
		-webkit-appearance: none;
		-ms-appearance: none;
		appearance: none;
		-moz-transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, color 0.2s ease-in-out;
		-webkit-transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, color 0.2s ease-in-out;
		-ms-transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, color 0.2s ease-in-out;
		transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, color 0.2s ease-in-out;
		border: 1.5px solid gray;
		cursor: pointer;
		display: inline-block;
		font-family: "Source Sans Pro", Helvetica, sans-serif;
		font-size: 1rem;
		font-weight: 900;
		letter-spacing: 0.075em;
    color: #dd831c;
		height: 3rem;
		line-height: 3rem;
		padding: 0 2rem;
		text-align: center;
		text-decoration: none;
		text-transform: uppercase;
		white-space: nowrap;
	}

.button:hover {
  background: #343a40;
  color: white;
  transition: 0.7s;
}

#btn {
  display: flex;
  justify-content: center;
}

li {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 30px;
}

.img {
  transition: 0.4s;
}

.img:hover {
  opacity: 0.9;
  transform: scale(1.03);
}
