html, div, span,
h1, h2, h3, h4, h5, h6, p, blockquote,
strong, ol, ul, li, form, label, table,
caption, tbody, tfoot, thead, tr, th, td, article,
footer, menu, section {
  padding: 0;
  border: 3px;
  font-size: 100%;
  vertical-align: baseline;
}

body {
  background-color: #f2e9e4;
}

strike, strong, sub, sup, tt, var, b, u, i,
center, dl, dt, dd, ol, ul, li, fieldset, form, label,
legend, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, figure, figcaption,
footer, hgroup, menu, nav, output, ruby, summary,
time {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 130%;
  font-family: 'parisplus-clair', sans-serif;
  font-weight: 400;
  font-style: normal;
  vertical-align: baseline;
}

article, footer, header, menu, section {
  display: block;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.navbar-nav > li {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  font-size: 20px;
  font-family: 'rift-soft', sans-serif;
  font-weight: 400;
  font-style: normal;
}

nav {
  height: 50px;
}

#header {
  width: 100%;
  height: 350px;
  text-align: center;
  font-family: 'liebegerda', sans-serif;
  font-weight: 400;
  font-size: 70px;
  color: white;
  background-image: url("bg.jpg");
  opacity: 0.7;
  z-index: 1;
  position: static;
  top: 0;
  right: 0;
}

.logo {
  padding-top: 80px;
}

.content {
  width: 70%;
  margin-bottom: 80px;
  display: flex;
  justify-content: center;
  z-index: 2;
  position: relative;
  top: -70px;
  right: 288px;
  left: 288px;
}

#main {
  width: 80%;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.75);
  display: flex;
  justify-content: center;
}

.inner {
  width: 100%;
}

.post.featured {
  text-align: center;
  padding-bottom: 120px;
  padding-top: 50px;
}

#main_image {
  width: 1065.76px !important;
  object-fit: cover;
}

.date {
  color: solid black 0.5;
}

h2, .h2 {
  font-weight: bolder;
}

.h2 {
  padding-bottom: 20px;
  padding-top: 40px;
  margin-bottom: 20px;
  font-size: 30px;
}

.h2:after {
    content: ""; /* This is necessary for the pseudo element to work. */
    display: block; /* This will put the pseudo element on its own line. */
    margin: 0 auto; /* This will center the border. */
    width: 50%; /* Change this to whatever width you want. */
    padding-top: 20px; /* This creates some space between the element and the border. */
    border-bottom: 1px solid black; /* This creates the border. Replace black with whatever color you want. */
}

#first_p {
  font-size: 30px;
}

p, span {
  font-size: 18px;
}

.container {
  display: flex;
  justify-content: center;
}

.icons {
  display: flex;
  justify-content: space-between;
}

.photos {
  display: flex;
  justify-content: center;
  flex-direction: column;
  object-fit: contain;
}

.first_row, .second_row {
  display: inline-flex;
  flex-direction: row;
}

.other_images {
  width: 355.22px;
}

img:hover {
  opacity: 0.9;
}
