{% extends 'blog_app/base.html' %}


{% block pagetitle %}About me{% endblock %}

{% block small_header %}
	<header id="header">
		<div class="logo-small">The Ramblog</div>
	</header>
{% endblock %}

{% block content %}

<div class="content content-detailed col-xs-12 col-sm-12 col-md-10 col-lg-9 col-xl-7">
  <section class="main">
    <div class="about-author">

      <h4>Hello again, my curious friend!</h4>

      <p>So, you would like to know more about me? Oh, well…</p>
      <p></p>

      <p>20-something, born, raised and living in Slovenia. Which is, by the way, one
        of the prettiest countries in the whole wide world. No doubt there at all.</p>

      <p>I live in a reasonably large apartment with lots of windows, some of them
        facing south and west and unfortunately none of them facing north. And north
        is where the mountains and snow and my heart are. Winters for me are never
        long enough and snowfall never really deep enough.</p>

      <p>Besides winter and snow I also love animals, especially dogs. One of them
        keeps me company on a daily basis – Nessie, my little monster. Well, not so
        little, considering she is about my height when standing on her hind legs...
        which could mean either she is very tall, or I am kind of short. And I will
        leave you guessing the correct answer… I should probably also mention she is a
        certified wilderness Search and rescue dog. And she has flown in a helicopter
        once! Such a cool dog ( -- insert a smiley with trendy sunglasses and a smug
        face here -- ).</p>

      <p>I also like photography. All the photos you see on this blog are my work. Not
        to say that I am a good photographer. But I try. I especially like to bring a
        camera with me on a hike. Slovenia has LOTS of hills and mountains and the
        possibilities for hiking are endless. A beautiful sunny day in the mountains
        with lots of snow, good friends, a dog or two and a camera – ah, my kind of
        days!</p>

      <p>And with these positive images in your head I am going to finish my writing
        for now… but shh, I know what you are going to say! Can one really know a
        person by just reading a few lines about them? Wouldn’t you rather write some
        more lines so we can get to know you – and your cool dog - a bit better?</p>

      <p>And the answer to that, my loves, is NO. A person is more that just a few
        pieces, lines on paper – pardon, computer screen. A person is much, much more
        than that… so I encourage you to read my blog posts and find other little
        pieces in there. Also animal pictures. Because why not.</p>

      <h5>Yours truly, </h5>
      <h6>Maja</h6>

    </div>
  </section>
</div>

{% endblock %}
