{% extends 'blog_app/base.html' %}


{% block pagetitle %}About Ramblog{% endblock %}

{% block small_header %}
	<header id="header">
		<div class="logo-small">The Ramblog</div>
	</header>
{% endblock %}

{% block content %}

<div class="content content-detailed col-xs-12 col-sm-12 col-md-10 col-lg-9 col-xl-7">
  <section class="main">
    <div class="about-author">

			<h4>RAMBLOG</h4>

			<p>Ramblog. Ram Blog. Ramb Log… Rambl… Rambling… Rambling Blog! Random
				Rambling Blog!</p>

			<p>Well, it’s a first one for me. Never knew blogs could ramble… but I
				think this one at least can be pretty good at it.</p>

			<p>And there you go! Ramblog is… a blog that randomly rambles. About
				anything and everything. Anything Maja finds interesting, annoying,
				inspiring, beautiful, stressful, or worth mentioning. Dogs. Cats.
				Nature. Winter. Slow drivers. Friends. Lord of the Rings. Food. Cookies.
				Cakes. Food. Nice wooden houses. The meaning of life.</p>

			<p>Besides rambling Ramblog also contains photos. Probably lots of them
				with every post. Because harassing my friends to look at them gets old
				after some time.</p>

			<p>And if you, my dear reader, still fancy some more reading after this
				long long description, I kindly invite you to take a look at the posts
				and see for yourself if Ramblog is as successful at rambling as it
				claims to be. Also feel free to leave a comment (or two. or even three
				if you are really desperate. no harsh feelings there).</p>

				<h5>And of course, always have a good time!</h5>

    </div>
  </section>
</div>

{% endblock %}
