{% extends 'blog_app/base_detail.html' %}


{% block content %}

	<div class="content">
		<section id="main" class="wrapper style1">
			<div class="inner">


				<article class="post featured">
					<header class="major">
						<span class="date">{{ post.published_date }}</span>
						<h2 class="h2"><a href="#">{{ post.title }}</a></h2>
						<p>{{ post.text }}</p>
					</header>
				</article>

				{% block comments %}

					{% for comment in post.comments.all %}
						<p>{{ comment.published_date }}</p>
						<p>{{ comment.text }}</p>
						<p>{{ comment.author }}</p>
					{% empty %}
						<p>No comments yet.</p>
					{% endfor %}

					{% block form %}
					  <form class="post-form" action="comment/" method="POST">
					    {% csrf_token %}
					    {{ form.as_p }}
					    <button type="submit" class="save btn btn-default">Post Comment</button>
					  </form>
					{% endblock %}

				{% endblock %}

				{% block gallery %}
					<div class="photos">
						{% for photo in gallery %}
							<a href="{{ photo.photos.url }}" data-lightbox="mygallery">
								<img class="other_images" src="{{ photo.photos.url }}"></img>
							</a>
						{% endfor %}
					</div>
				{% endblock %}


			</div>
		</section>
	</div>

{% endblock %}
