{% extends 'blog_app/base.html' %}


{% block pagetitle %}Home{% endblock %}

{% block header %}
	<header id="header">
		<div class="logo">The Ramblog</div>
		<p> -- random rambling blog --</p>
	</header>
{% endblock %}


{% block content %}

<!-- Main -->
	<div class="content d-flex justify-content-center flex-wrap col-12">
		<div class="row">

			<section class="main col-xs-12 col-sm-12 col-md-12 col-lg-9 col-xl-9">
				<div class="inner">

				{% for post in post_list %}
					{% if forloop.counter == 1 %}
						<article class="post-featured">
							<header>
								<span class="date">{{ post.published_date|date:"d M Y" }}</span>
								<h2 class="featured-h2">
									<a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a>
								</h2>
								<hr class="featured-hr">
								<p>{{ post.text|linebreaksbr|truncatewords:100 }}</p>
							</header>
							<a href="{{ post.image.url }}" class="image-main" data-lightbox="mygallery">
								<img class="img-fluid" src="{{ post.image.url }}" alt=""></img>
							</a>
							<a href="{% url 'post_detail' pk=post.pk %}" class="button large">Full Story</a>
						</article>
					{% endif %}


					{% if forloop.counter != 1 %}
						<article class="other-posts">
							<div class="row">
								<div class="col-xs-12 col-sm-12 col-md-5 col-lg-6 col-xl-6">
									<a href="{{ post.image.url }}" class="image-not-main" data-lightbox="mygallery">
										<img class="img-fluid" src="{{ post.image.url }}"></img>
									</a>
								</div>
								<div class="article-text col-xs-12 col-sm-12 col-md-6 col-lg-5 col-xl-5">
									<header class="header">
										<span class="article">{{ post.published_date|date:"d M Y" }}</span>
										<h2>
											<a class="minor-titles" href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a>
										</h2>
										<p>{{ post.text|truncatewords:50 }}</p>
									</header>
									<a href="{% url 'post_detail' pk=post.pk %}" class="button">Full Story</a>
								</div>
							</div>
						</article>

					{% endif %}

				{% endfor %}

				</div>
			</section>
		<hr>

		<!-- About -->
			<section class="about col-xs-12 col-sm-12 col-md-12 col-lg-3 col-xl-3">
				<div class="about-me">
					<article>
						<p>Hi and Welcome!</p>
						<p>My name is Maja. This is my blog. I like to write. I like to make jokes. I love Lord of the Rings. Samwise is my spiritual self. </p>
						<p></p>
						<p>Want to know more? Well, if you insist...</p>
						<p>I have created a WHOLE about me page. Just to satisfy your curiosity, my friend. You can click the 'about' button in the gray tab and all your
						wishes will come true... as long as they involve knowing about my interests, passions and animal pictures.</p>
						<p>Enough said, I wish you a great day and hopefully a fun reading!</p>
						<p>Love, Maja</p>
  					<a href="https://www.instagram.com/majazule/?hl=en"><i class="fa fa-instagram" aria-hidden="true"></i></a>
  					<a href="https://gurushots.com/majazule10/photos"><i class="fa fa-camera-retro" aria-hidden="true"></i></a>
					</article>
				</div>
			<hr>

				<!-- <div class="highlights">
					<article class="">
						<p>Highlighted posts. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
					</article>
				</div>
			</section> -->

		</div>
	</div>


	<div id="myModal" class="modal">
		<span class="close">&times;</span>
		<img class="modal-content" id="img01">
	</div>

{% endblock %}
